* {
    font-family: 'Kanit', sans-serif;
}

.box {
    background-color: rgb(193, 255, 234);
    display: block;
    margin: 0 auto;
    border: 3px solid #87ffc7;
    width: 80vw;
    border-radius: 15px;
    padding: 10px;
}

.daybox {
    background-color: rgb(0, 0, 0);
}

.twobox {
    text-align: center;
}

.cexter {
    text-align: center;
    font-size: xx-small;
}