* {
    font-family: 'Kanit', sans-serif;
    font-size: large;
}

textarea {
    width: 30vw;
}

input {
    width: 20vw;
}

.box {
    display: block;
    margin: 0 auto;
    width: 60vw;
    max-width: 600px;
    border: 3px solid aquamarine;
    border-radius: 10px;
    padding: 1vw;
    background-color: rgb(210, 255, 240);
}